<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>com.eight.mvc.ContextConfigListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.eight.mvc.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!--页面出现错误跳转-->
  <error-page>
    <error-code>500</error-code>
    <location>/webpage/error/error500.jsp</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/webpage/error/error404.jsp</location>
  </error-page>
</web-app>
